:root {
  --content-width: 50rem;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 30rem) {
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 40rem) {
  :root {
    font-size: 21px;
  }
}

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Hoefler Text A", "Hoefler Text B", serif;
  font-variant-numeric: oldstyle-nums;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
}

strong, b {
  font-weight: 500;
}

img {
  width: 100%;
}

.img-wide {
  margin-left: -5vw;
  margin-right: -5vw;
}

@media screen and (min-width: 45rem) {
  .img-wide {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
}

small {
  font-size: 1em;
  font-family: "Hoefler Text Small Caps A", "Hoefler Text Small Caps B";
}

.dot {
  margin: 0.5rem;
}

.dot::after {
  content: '\00B7';
}

.page {
  padding: 5vh 5vw;
}
.page > * {
  max-width: var(--content-width);
  margin: 0 auto;
}

.header {
  margin-bottom: 1.5rem;
}

.header a {
  
}

.header .logo {
  display: block;
  margin-bottom: 1.5rem;
  padding: .5rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  text-align: center;
  line-height: 2rem;
}

.menu a {
  position: relative;
  font-family: "Hoefler Text Small Caps A", "Hoefler Text Small Caps B";
  white-space: nowrap;
  letter-spacing: .05em;
  padding: .5rem 0;
  margin: 0 .75rem;
}

.menu a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  left: 0;
  border-bottom: 2px solid rgba(0,0,0,0);
  transition: border-color 0.2s ease;
}

.menu a:hover::after {
  border-color: rgba(0,0,0,1);
  transition: border-color 0.2s ease;
}

.post-navigation a {
  box-shadow: inset 0 -2px rgba(0,0,0,0);
  transition: box-shadow 0.2s ease;
}

.post-navigation a:hover {
  box-shadow: inset 0 -2px rgba(0,0,0,1);
  transition: box-shadow 0.2s ease;
}

@media screen and (min-width: 40rem) {
  .header .logo {
    margin-bottom: 0;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    margin-right: -.75rem;
  }
}


main {
  min-height: calc(100vh - 10rem);
}

.intro {
  padding: 10vh 0 1rem;
  text-align: center;
}

.intro h1 {
  position: relative;
  margin-bottom: 1rem;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  font-size: 1.125rem;
  z-index: 1;
}

.tags {
  text-align: center;
  font-family: "Hoefler Text Small Caps A", "Hoefler Text Small Caps B";
  white-space: nowrap;
  letter-spacing: .05em;
}

@media screen and (min-width: 30rem) {
  figure.map {
    padding-left: 3em;
    padding-right: 3em;
  }
}

.text {
  line-height: 1.4em;
  margin: 1em 0 2em;
}
.text p,
.text figure,
.text ul,
.text ol {
  margin-bottom: 1em;
}
.text h2 {
  font-size: 1rem;
  text-align: center;
  font-family: "Hoefler Text Small Caps A", "Hoefler Text Small Caps B";
  margin: 1.5rem 0 0.5rem;
}
.text > *:first-child {
  margin-top: 0;
}
.text > *:first-child:first-line {
  font-family: "Hoefler Text Small Caps A", "Hoefler Text Small Caps B";
}
.text a, .footer a {
  position: relative;
  white-space: nowrap;
  z-index: 1;
  display: inline-block;
  text-decoration: underline;
  -webkit-text-decoration-color: #dddddd;
  text-decoration-color: #dddddd;
  transition: text-decoration-color .2s ease;
  /* text-shadow: -0.04em 0 0 #fff, 0.04em 0 0 #fff;
  box-shadow: inset 0 -.25em 0 0 #fff, inset 0 -.3em 0 0 #cccccc;
  transition: box-shadow 0.3s ease; */
}
.text a:hover, .footer a:hover {
  -webkit-text-decoration-color: #000000;
  text-decoration-color: #000000;
  transition: text-decoration-color .2s ease;
  /* box-shadow: inset 0 -.2em 0 0 #fff, inset 0 -.3em 0 0 #000000;
  transition: box-shadow 0.3s ease; */
}
.text figure {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.text img {
  width: 100%;
}

.text figcaption {
  font-style: italic;
}

.note {
  max-width: 30rem;
  margin: 0 auto;
}
.note-header {
  text-align: center;
}

.note-header time {
  font-style: italic;
}

.note-byline {
  font-style: italic;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  font-style: italic;
}

.post-navigation-title {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.07rem;
  font-size: 0.75rem;
}

.post-navigation .prev, .post-navigation .next {
  background: #fff;
  display: inline-block;
  flex-grow: 1;
}

.post-navigation .prev {
  padding-right: 0.5em;
  text-align: left;
}

.post-navigation .next {
  padding-left: 0.5em;
  text-align: right;
}

.journal-index {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title date';
  -ms-grid-columns: 48% 52%;
  grid-template-columns: 48% 52%;
}

.journal-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  text-align: right;
}

.journal-date {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: date;
  font-style: italic;
}

.journal-index a {
  -webkit-text-decoration-color: rgba(0,0,0,0);
  text-decoration-color: rgba(0,0,0,0);
  white-space: normal;
}

.footer {
  padding: 1rem 0;
  text-align: center;
  font-style: italic;
  font-size: 0.825rem;
  font-variant-numeric: normal;
  max-width: var(--content-width);
  max-width: 30rem;
  margin: 0 5vw;
  line-height: 1.5em;
}

@media screen and (min-width: 30rem) {
  .footer {
    margin: 0 auto;
  }
}

.social a {
  margin: 0 .75rem;
  padding: .5rem 1rem;
  border: 2px solid #000;
  width: 7.5rem;
}
.social a:hover {
  background: #000;
  color: #fff;
}

.featherlight .caption {
  text-align: center;
  margin-top: 1rem;
  font-style: italic;
}

.featherlight-content {
  width: min-content;
  box-shadow: rgb(0,0,0,0.1) 0px 0px 10px;
}

.sl-counter {
  font-variant-numeric: normal;
}

.gallery figure, .album-gallery figure {
  display: flex;
}

.gallery img, .album-gallery img {
  aspect-ratio: 1;
  object-fit: cover;
}

.toc-entry {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-areas: "chapter page";
  align-items: end;
  gap: 0 .25rem;
  margin-bottom: 0.5rem;
}

.toc-chapter {
  grid-area: chapter;
  position: relative;
  overflow: hidden;
}

.toc-chapter::after {
  position: absolute;
  padding-left: .25ch; /* customise the padding to your needs */
  /* adjust the amount of dots to your needs */
  content: " . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . ";
  text-align: right; /* optional, can be removed */
}

.toc-page {
  grid-area: page;
  font-style: italic;
}
