.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 3rem 0;
}
.gallery figure a {
  border: 0;
}
.gallery figure {
  margin: 0;
  padding: 0;
}

.post-navigation {
  max-width: 35rem;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #000000;
}

.post-navigation-title {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.825rem;
}

.post-navigation .prev, .post-navigation .next {
  margin-bottom: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.post-navigation .prev {
  padding-right: 1rem;
}

dt::after {
  content: '\00B7';
  margin: 0 0.5rem;
}

  @media screen and (max-width: 991px) {
    .inhabit--next-prev-posts .prev, .inhabit--next-prev-posts .next {
      width: 100%; } }

@media screen and (min-width: 45rem) {
  .gallery {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}
